@import "lesshat";

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@import url('https://fonts.googleapis.com/css?family=Oswald:500');
.back{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image:url(images/fondo.jpg);
  background-size:cover;
}
.thx{
  position: fixed;
  left:50%;
  transform:translateX(-50%);
  bottom: 15px;
}
header{
    height: 20%;
    width: 200px;
}
nav{
  width: 100%;
  position: fixed;
  top:100px;
  text-align:center;
}
nav a{
  font-family: 'Oswald', sans-serif;
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  color:#16151b;
  margin:0 15px;
  font-size:16px;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
}
nav a:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  background:#16151b;
  top:47%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}
@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

@for $i from 1 through 5 {
  nav a:nth-child(#{$i}){
    animation:show .2s #{$i*0.1+1}s ease 1 both;
  }
}

#logo{
    height: 80px;
    width: 80px;
    position: fixed;
    margin-left: 635px;
    top: 10px;
}
#s1{
    position: relative;
    top: 130px;
    height: 600px;
    background-size: cover;
}
#s1 p{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: center;
    top: 200px;
}
.slider {
    background-color: #fff;
    box-shadow: inset 0 0 2px hsla(0,0%,0%,.2),
                0 3px 1px hsla(0,0%,100%,.75),
                0 -1px 1px 2px hsla(0,0%,0%,.1);
    height: 30em;
    left: 36%;
    margin: -9.875em -13em;
    padding: .5em;
    position: absolute;
    top: 35%;
    width: 50em;
}

/* Frame */

.slider:before {
    background-color: #558ef8;
    bottom: -2.5em;
    box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,.2),
                inset 0 -2px 1px hsla(0,0%,0%,.4),
                0 5px 50px hsla(0,0%,0%,.25),
                0 20px 20px -15px hsla(0,0%,0%,.2),
                0 30px 20px -15px hsla(0,0%,0%,.15),
                0 40px 20px -15px hsla(0,0%,0%,.1);
    content: '';
    left: -2.5em;
    position: absolute;
    right: -2.5em;
    top: -1.5em;
    z-index: -1;
}

/* Mat */

.slider:after {
    background-color: #fff5e5;
    bottom: -1.5em;
    box-shadow: 0 2px 1px hsla(0,0%,100%,.2),
                0 -1px 1px 1px hsla(0,0%,0%,.4),
                inset 0 2px 3px 1px hsla(0,0%,0%,.2),
                inset 0 4px 3px 1px hsla(0,0%,0%,.2),
                inset 0 6px 3px 1px hsla(0,0%,0%,.1);
    content: '';
    left: -1.5em;
    position: absolute;
    right: -1.5em;
    top: -1.5em;
    z-index: -1;
}

/* Slides */

.slider li {
    box-shadow: 0 -1px 0 2px hsla(0,0%,0%,.03);
    list-style:none;
    position: absolute;
}
.slider input {
    display: none;
}

/* Navigation */

.slider label {
    background-color: #111111;
    background-image: linear-gradient(transparent, hsla(0,0%,0%,.25));
    border: .2em solid transparent;
    bottom: .5em;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: .5em;
    left: 24em;
    opacity: 0;
    position: absolute;
    transition: .25s;
    width: .5em;
    visibility: hidden;
    z-index: 10;
}
.slider label:after {
    border-radius: 100%;
    bottom: -.2em;
    box-shadow: inset 0 0 0 .2em #111,
                inset 0 2px 2px #000,
                0 1px 1px hsla(0,0%,100%,.25);
    content: '';
    left: -.2em;
    position: absolute;
    right: -.2em;
    top: -.2em;
}
.slider:hover label {
    opacity: 1;
    visibility: visible;
}
.slider input:checked + label {
    background-color: #bf3131;
}
.slider:hover li:nth-child(1) label {
    left: .5em;
}
.slider:hover li:nth-child(2) label {
    left: 2em;
}
.slider:hover li:nth-child(3) label {
    left: 3.5em;
}
.slider:hover li:nth-child(4) label {
    left: 5em;
}

/* Images */

.slider img {
    height: 30em;
    opacity: 0;
    transition: .25s;
    width: 50em;
    vertical-align: top;
    visibility: hidden;
}
.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

#s2{
    position: relative;
    top: 180px;
    height: 600px;
    background-size: cover;
    
}
#titulo{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-align: center;
}
section.imagen {
  width: 300px;
  height: 200px;
  float: left;
  margin-left: 250px;
  margin-top: 30px;
}

section#imagen1{
    background-image: url("images/t5.jpg");
    background-size: cover;
}

section#imagen2{
    background-image: url("images/2.PNG");
    background-size: cover;
}
section#imagen3{
    background-image: url("images/3.PNG");
    background-size: cover;
}
section#imagen4{
    background-image: url("images/4.PNG");
    background-size: cover;
}

section#info {
  position:absolute;
  overflow:hidden;
  width: 300px;
  height: 200px;
  background-color: rgba(31, 31, 31, 0.9);
  opacity:0;
  transition: opacity 0.3s;
}

section.imagen:hover section#info {
  opacity:1;
}

p#headline {
  position: absolute;
  font-size: 1.5rem;
  margin-left: -75px;
  margin-top: 15px;
  transition: margin-left 0.3s;
}

section.imagen:hover p#headline {
  margin-left: 115px;
}

p#descripcion {
  font-size: 1rem;
  text-align: center;
  margin-top: 200px;
  transition: margin-top 0.4s;
}

section.imagen:hover p#descripcion {
  margin-top: 75px;
}

footer{
    background-size: cover;
    height: 250px;
    position: relative;
    top: 200px;
}
h2{
    text-align: center;
    font-family: Gill Sans, Charcoal, sans-serif
}
h3{padding: 10px}
#iframe{ 
    margin-left: 1%; 
    margin-right: 2.5%; 
    margin-top: 21.5%
}

#mensaje{
     background-color: #ba1c1c;
    width: 30%;
    min-height: 95%;
    float: left;
    display: block;
    border: solid black .5em;
    position:relative;
    margin-left: 35%;
    border-style: double;
    color: whitesmoke;
}
.column{
    background-color: #ba1c1c;
    width: 30%;
    min-height: 95%;
    float: left;
    display: block;
    border: solid black .5em;
    position:relative;
    margin-left: 2%;
    border-style: double;
    color: whitesmoke;
}
#texto{
    width: 90%; 
    margin-left: 5%; 
    margin-right: 5%; 
    margin-top: 8%}
#boton{
    background-color: skyblue;
    width: 80%;
    height: 09%;
    margin-left: 9%;
    margin-right: 5%; 
    margin-top: 8%;
    align-content: center;
    color: black;}
p{
    margin-left: 3%;
    font-family: Verdana;
    padding: -2px}
.alumno_img{
    background-color: blue;
    width: 22%;
    height: 310px;
    float: left;
    display: block;
    position: relative;
}
.datos_al{ 
    width: 72%; 
    height: 215px; 
    float: left; 
    display: block; 
    position: relative; 
    align-content: center;
    padding: 2%;padding-top: 4%;
    padding-bottom: 3%; 
    padding-left: 3%
}
.base{
    width: 100%; 
    height: 380px; 
    padding: 10px;
}
.botones{
    width: 100%; 
    height: 95px; 
    position: relative
}
.body{position: relative; color: white; padding: 2%; width: 95%}
.logo{width: 35%; height: 45%; border: 1em solid; border-color: black; border-style: groove; float: left; display:block}
.formu{width: 100%; padding: 1em; display: block;}
